<div>
  <!-- <input type="file" (change)="onFileSelected($event)" /> -->
</div>

<div *ngIf="imageSrc" class="row d-flex justify-content-around">
  <div class="col-5">
    <h2>Orignal</h2>
    <!-- <img class="img-fluid  border border-primary" [src]="imageSrc" alt="Selected Image" /> -->
  </div>
  <div class="col-5">
    <h2>priview</h2>
    <canvas #canvas></canvas>
    <!-- <img class="img-fluid border border-primary " [src]="imageSrc" alt="Selected Image" /> -->
  </div>
</div>

<app-grayscale-filter></app-grayscale-filter>