<app-nav></app-nav>

<h1> Selecet Image</h1>
<button type="button" mat-raised-button (click)="fileInput.click()">Choose Fileeee</button>
<input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
@if(imageSrc){
<div class="row d-flex ">
  <div class="col-5">
    <h2>Orignal</h2>
    <img class="img-fluid  border border-primary" [src]="imageSrc" alt="Selected Image" />
  </div>
  <div [ngClass]="filteredImage ? '' : 'd-none' " class="col-5">
    <h2>priview</h2>
    <canvas class="img-fluid" #canvas></canvas>
  </div>
</div>

<h2>Select Filter</h2>
<button mat-raised-button (click)="onBlurFilter()">Blur</button>
<button mat-raised-button (click)="onGrayFilter()">Gray</button>


  <button mat-raised-button (click)="handleImageWorker()">onGrayFilterWithWebWorkers</button>
  <button mat-raised-button (click)="handleImageWorkerBlur()">onBlurFilterWithWebWorkers</button>

}

